<h2>{{sectiontitle}}</h2>
<div class="characterScreen container">
  <div class="characterBases container">
    <div>
      <label>Character name:</label> <input #characterName />
      <button (click)="add(characterName.value); characterName.value=''">
        Add
      </button>
    </div>
    <h3>Select Character</h3>
    <ul class="characters">
      <li *ngFor="let character of characters"
          [class.selected]="character === selectedCharacter"
          (click)="onSelect(character)">
          <span class="badge">{{character.id}}</span> {{character.name}}
          <button class="delete"
        (click)="delete(character); $event.stopPropagation()">x</button>
      </li>
    </ul>
  </div>
  <div *ngIf="selectedCharacter">
    <h2>
        Selected: {{selectedCharacter.name | uppercase}}
    </h2>
    <button (click)="gotoDetail()">View Details</button>
  </div>
</div>
