<div *ngFor="base in bases" class="currentBase container">
  <h3>{{base.name}}</h3>
  <div>
    <label>Name: </label>
    <input [(ngModel)]="base.size" placeholder="Size">
  </div>
  <div>
    <label>Network: {{base.network}}</label>
  </div>
  <div>
    <label>Server: {{base.server}}</label>
  </div>
  <div>
    <label>Facilities: {{base.facilities}}</label>
  </div>
  <div>
    <label>Garrison: {{base.character.inbase}}</label>
  </div>
  <div>
    <label>On Mission: {{base.character.onmission}}</label>
  </div>
  <button (click)="goBack()">Back</button>         
</div>
