<h2>Secret Characters</h2>
<ul class="characters">
  <li *ngFor="let character of secretCharacters" (click)="onSelect(character)" [class.selected]="character === selectedCharacter">
    <span class="character-element">
      <span class="badge">{{character.id}}</span> {{character.name}}
    </span>
    <button class="delete-button" (click)="deleteSecretCharacter(character, $event)">Delete</button>
  </li>
</ul>

<div class="error" *ngIf="error">{{error}}</div>
<button (click)="addSecretCharacter()">Add New Character</button>
<div *ngIf="addingCharacter">
  <secret-character-detail (close)="close($event)"></secret-character-detail>
</div>

<div *ngIf="selectedCharacter">
  <h2>
    Selected: {{selectedCharacter.name | uppercase}}
  </h2>
  <button (click)="gotoDetail()">View Details</button>
</div>

